[submodule "portfolio-resources"]
	path = portfolio-resources
	url = https://github.com/ProgrammingHero1/portfolio-resources.git
[submodule "Project/Project_file/P"]
	path = Project/Project_file/P
	url = https://github.com/ProgrammingHero1/portfolio-resources.git
